In [2]:
path = "../../data/tencent2020/build/"
train_preliminary = path + "train_preliminary/"
test = path + "test/"

In [3]:
import pandas as pd
import numpy as np

In [4]:
train_ad = pd.read_csv(train_preliminary + "ad.csv", encoding="utf-8")
train_click_log = pd.read_csv(train_preliminary + "click_log.csv", encoding="utf-8")
train_user = pd.read_csv(train_preliminary + "user.csv", encoding="utf-8")

In [ ]:
train_ad

In [4]:
print(train_ad.info())
print(train_ad.shape)
print('creative_id:',train_ad['creative_id'].nunique())
print('ad_id:',train_ad['ad_id'].nunique())
print('product_id:',train_ad['product_id'].nunique())
print('product_category:',train_ad['product_category'].nunique())
print('advertiser_id:',train_ad['advertiser_id'].nunique())
print('industry:',train_ad['industry'].nunique())
print('industry:',train_ad['industry'].unique())
train_ad.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2481135 entries, 0 to 2481134
Data columns (total 6 columns):
creative_id         int64
ad_id               int64
product_id          object
product_category    int64
advertiser_id       int64
industry            object
dtypes: int64(4), object(2)
memory usage: 113.6+ MB
None
(2481135, 6)
creative_id: 2481135
ad_id: 2264190
product_id: 33273
product_category: 18
advertiser_id: 52090
industry: 326
industry: ['78' '202' '297' '213' '73' '6' '267' '1' '254' '25' '168' '247' '242'
 '141' '32' '281' '36' '183' '248' '135' '82' '283' '317' '259' '188'
 '238' '18' '100' '134' '271' '270' '321' '200' '5' '89' '261' '69' '234'
 '253' '8' '285' '265' '20' '31' '154' '301' '326' '322' '155' '250' '244'
 '173' '277' '312' '215' '107' '126' '300' '60' '323' '328' '203' '27'
 '98' '252' '114' '28' '237' '230' '12' '216' '187' '232' '167' '88' '272'
 '138' '46' '292' '196' '209' '333' '329' '302' '195' '205' '67' '161'
 '54' '34' '53' '2' '26' '231' '71' '123' '151' '207' '84' '245' '319'
 '235' '229' '104' '\\N' '35' '74' '295' '19' '289' '133' '29' '96' '99'
 '24' '125' '175' '93' '57' '137' '264' '217' '288' '106' '124' '147'
 '171' '132' '103' '30' '172' '158' '204' '178' '335' '177' '296' '179'
 '127' '334' '294' '287' '50' '182' '192' '21' '291' '136' '306' '304'
 '311' '307' '241' '299' '146' '68' '320' '143' '303' '227' '249' '305'
 '40' '102' '17' '47' '258' '150' '310' '48' '239' '92' '166' '129' '51'
 '109' '308' '284' '266' '81' '70' '58' '240' '23' '251' '246' '212' '181'
 '94' '275' '144' '293' '190' '176' '269' '197' '191' '13' '86' '75' '149'
 '327' '142' '61' '79' '163' '220' '116' '55' '108' '282' '145' '45' '90'
 '255' '206' '260' '236' '268' '162' '11' '59' '180' '72' '152' '164'
 '233' '219' '221' '3' '276' '9' '298' '318' '122' '165' '210' '111' '4'
 '174' '148' '159' '62' '85' '157' '315' '201' '120' '87' '139' '76' '228'
 '309' '263' '14' '256' '185' '118' '33' '222' '214' '128' '66' '105'
 '112' '262' '113' '156' '65' '130' '257' '38' '286' '330' '226' '44' '16'
 '15' '119' '331' '110' '208' '278' '169' '218' '290' '313' '316' '121'
 '186' '170' '97' '324' '63' '37' '243' '22' '115' '56' '224' '160' '225'
 '39' '279' '83' '42' '64' '117' '101' '273' '314' '131' '193' '332' '184'
 '194' '223' '41' '49' '211' '274' '280' '140' '325' '10' '52']

   creative_id  ad_id product_id  product_category  advertiser_id industry
0            1      1         \N                 5            381       78
1            4      4         \N                 5            108      202
2            7      7         \N                 5            148      297
3            8      8         \N                 5            713      213
4            9      9         \N                 5            695      213

In [5]:
train_ad['industry'].value_counts()

247    262634
319    178677
6      161962
322    159928
\N     101048
242     77113
238     76788
326     65196
54      64318
73      64130
248     55553
317     54328
329     49460
25      46671
36      44458
47      44245
27      36904
21      33202
259     26424
133     25506
60      25320
297     25284
40      23853
253     22885
246     22739
13      22078
24      21763
252     21615
26      21259
289     20764
        ...
97          3
102         3
103         3
269         3
37          3
181         3
180         2
101         2
244         2
93          2
83          2
212         2
273         2
71          2
325         1
268         1
68          1
152         1
314         1
96          1
283         1
78          1
143         1
94          1
142         1
59          1
287         1
282         1
42          1
266         1
Name: industry, Length: 326, dtype: int64

In [5]:
train_ad['industry'] = train_ad['industry'].replace('\\N', '-1').astype(int)
print('industry:',train_ad['industry'].unique())

industry: [ 78 202 297 213  73   6 267   1 254  25 168 247 242 141  32 281  36 183
 248 135  82 283 317 259 188 238  18 100 134 271 270 321 200   5  89 261
  69 234 253   8 285 265  20  31 154 301 326 322 155 250 244 173 277 312
 215 107 126 300  60 323 328 203  27  98 252 114  28 237 230  12 216 187
 232 167  88 272 138  46 292 196 209 333 329 302 195 205  67 161  54  34
  53   2  26 231  71 123 151 207  84 245 319 235 229 104  -1  35  74 295
  19 289 133  29  96  99  24 125 175  93  57 137 264 217 288 106 124 147
 171 132 103  30 172 158 204 178 335 177 296 179 127 334 294 287  50 182
 192  21 291 136 306 304 311 307 241 299 146  68 320 143 303 227 249 305
  40 102  17  47 258 150 310  48 239  92 166 129  51 109 308 284 266  81
  70  58 240  23 251 246 212 181  94 275 144 293 190 176 269 197 191  13
  86  75 149 327 142  61  79 163 220 116  55 108 282 145  45  90 255 206
 260 236 268 162  11  59 180  72 152 164 233 219 221   3 276   9 298 318
 122 165 210 111   4 174 148 159  62  85 157 315 201 120  87 139  76 228
 309 263  14 256 185 118  33 222 214 128  66 105 112 262 113 156  65 130
 257  38 286 330 226  44  16  15 119 331 110 208 278 169 218 290 313 316
 121 186 170  97 324  63  37 243  22 115  56 224 160 225  39 279  83  42
  64 117 101 273 314 131 193 332 184 194 223  41  49 211 274 280 140 325
  10  52]

In [6]:
train_ad['product_id'] = train_ad['product_id'].replace('\\N', '-1').astype(int)
print(train_ad.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2481135 entries, 0 to 2481134
Data columns (total 6 columns):
creative_id         int64
ad_id               int64
product_id          int32
product_category    int64
advertiser_id       int64
industry            int32
dtypes: int32(2), int64(4)
memory usage: 94.6 MB
None

In [7]:
print('time:',train_click_log['time'].nunique())
print('user_id:',train_click_log['user_id'].nunique())
print('creative_id:',train_click_log['creative_id'].nunique())
print('click_times:',train_click_log['click_times'].nunique())

train_click_log.head()

time: 91
user_id: 900000
creative_id: 2481135
click_times: 41

   time  user_id  creative_id  click_times
0     9    30920       567330            1
1    65    30920      3072255            1
2    56    30920      2361327            1
3     6   309204       325532            1
4    59   309204      2746730            1

In [8]:
print('user_id:',train_user['user_id'].nunique())
print('age:',train_user['age'].value_counts())
print('gender:',train_user['gender'].value_counts())
print(train_user.info())
train_user.head()

user_id: 900000
age: 3     202909
4     150578
2     149271
5     130667
6     101720
7      66711
1      35195
8      31967
9      19474
10     11508
Name: age, dtype: int64
gender: 1    602610
2    297390
Name: gender, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900000 entries, 0 to 899999
Data columns (total 3 columns):
user_id    900000 non-null int64
age        900000 non-null int64
gender     900000 non-null int64
dtypes: int64(3)
memory usage: 20.6 MB
None

   user_id  age  gender
0        1    4       1
1        2   10       1
2        3    7       2
3        4    5       1
4        5    4       1

In [ ]:
test_ad = pd.read_csv(test + "ad.csv", encoding="utf-8")
test_click_log = pd.read_csv(test + "click_log.csv", encoding="utf-8")

In [ ]:
print('industry:',test_ad['industry'].nunique())
print('industry:',test_ad['industry'].unique())
print('industry:',test_ad['industry'].min())
print('product_id:',test_ad['product_id'].min())


test_ad['industry'] = test_ad['industry'].replace('\\N', '0').astype(int)
test_ad['product_id'] = test_ad['product_id'].replace('\\N', '0').astype(int)


print(test_ad.info())
print(test_ad.shape)
test_ad.head()

In [ ]:
print('time:',test_click_log['time'].nunique())
print('user_id:',test_click_log['user_id'].nunique())
print('creative_id:',test_click_log['creative_id'].nunique())

test_click_log.head()