In [16]:
#from utils import *
import pandas as pd
import numpy as np

path_buld = "../../data/tencent2020/build/"
path_save = "../../data/tencent2020/save/"


train_click_log = pd.read_csv(path_save + "train_click_log.csv", encoding="utf-8")
test_click_log = pd.read_csv(path_save + "test_click_log.csv", encoding="utf-8")

In [7]:
print(train_click_log.shape)
train_click_log.head()

(30082771, 9)

,time,user_id,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry
0,9,30920,567330,1,504423,30673,3,32638,319
1,65,30920,3072255,1,2642300,1261,2,6783,6
2,56,30920,2361327,1,2035918,1261,2,6783,6
3,6,309204,325532,1,292523,27081,3,32066,242
4,59,309204,2746730,1,2362208,0,18,14682,88

In [17]:
train_click_log.sort_values(by=['user_id','time'], ascending=[True,True], inplace=True)
train_click_log = train_click_log.reset_index(drop=True)
train_click_log.head()

,time,user_id,creative_id,click_times,ad_id,product_id,product_category,advertiser_id,industry
0,20,1,821396,1,724607,0,5,7293,326
1,20,1,209778,1,188507,136,2,9702,6
2,20,1,877468,1,773445,0,5,29455,106
3,39,1,1683713,1,1458878,0,5,14668,326
4,40,1,122032,1,109959,1334,2,11411,0

In [30]:
def to_list(ll):
    return ','.join(ll.astype(str))

train = train_click_log.groupby('user_id').agg({'creative_id':to_list,
                                                'ad_id':to_list,
                                                'product_id':to_list,
                                                'click_times':to_list,
                                                'time':to_list,
                                                'product_category':to_list,
                                                'advertiser_id':to_list,
                                                'industry':to_list}).reset_index()
test = test_click_log.groupby('user_id').agg({'creative_id':to_list,
                                                'ad_id':to_list,
                                                'product_id':to_list,
                                                'click_times':to_list,
                                                'time':to_list,
                                                'product_category':to_list,
                                                'advertiser_id':to_list,
                                                'industry':to_list}).reset_index()
train.to_csv('train.csv', index=False, encoding='utf-8')
test.to_csv('test.csv', index=False, encoding='utf-8')

In [33]:
train.head()

,user_id,creative_id,ad_id,product_id,click_times,time,product_category,advertiser_id,industry
0,1,"821396,209778,877468,1683713,122032,71691,1940...","724607,188507,773445,1458878,109959,66210,1678...","0,136,0,0,1334,0,0,0,0,1454,64,64,1261","1,1,1,1,1,1,1,1,1,1,1,1,2","20,20,20,39,40,43,46,52,60,64,64,73,76","5,2,5,5,2,18,5,5,18,2,2,2,2","7293,9702,29455,14668,11411,14681,17189,367,44...","326,6,106,326,0,326,73,217,64,238,245,245,6"
1,2,"63441,155822,39714,609050,13069,441462,1266180...","58788,139702,38066,541125,14495,392680,1107111...","87,80,129,129,1400,87,0,1261,0,0,111,0,129,0,0...","1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...","10,11,14,17,28,28,28,38,38,39,41,42,42,42,44,4...","2,2,2,2,2,2,18,2,18,18,2,18,2,18,18,18,2,18,2,...","22885,10686,18562,25932,768,22885,34505,918,26...","318,238,6,6,317,318,47,6,47,47,242,6,6,47,47,4..."
2,3,"661347,808612,710859,825434,593522,726940,3920...","586668,713448,629278,728308,527601,643108,3502...","36256,40905,1674,35985,1674,0,0,1031,1786,2258...","1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...","12,13,14,14,14,17,19,22,31,36,37,44,47,47,50,5...","17,17,2,17,2,18,18,2,2,2,18,12,2,2,18,18,8,4,2...","32974,9877,18492,14186,17018,9058,8371,2336,39...","0,0,322,0,322,6,54,6,322,322,205,302,322,322,2..."
3,4,"39588,589886,574787,1892854,1962706,2264105,12...","37966,524312,511235,1638619,1698206,1953681,10...","1862,0,2625,38743,41265,37758,39904,39422,0,15...","1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...","8,15,41,44,48,48,48,48,49,52,58,58,59,61,62,62...","2,18,2,17,17,4,17,17,18,2,2,2,2,2,2,2,2,5,2,2,...","19451,7976,13084,12130,23664,811,10172,13299,1...","238,25,248,0,0,0,0,0,88,319,238,6,319,238,6,31..."
4,5,"296145,350759,24333,43235,852327,1054434,12964...","265971,314795,24966,41148,751113,925792,113378...","0,0,87,136,0,136,0,0,0,1064,0,2620,0,0,0,136,2...","1,1,1,1,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...","3,13,14,15,20,21,24,25,27,28,29,30,32,32,35,35...","5,8,2,2,18,2,5,18,18,2,18,2,5,5,18,2,2,18,18,2...","11882,992,22885,9706,38760,2862,17745,31552,22...","297,0,318,6,322,6,288,322,319,238,322,322,203,..."